GATEWAY_PORT=3000

# gRPC Service Configuration
PATIENT_PROTO_PATH=shared_proto/patient/patient.proto
PATIENT_PACKAGE=patientPackage 
PATIENT_SERVICE_NAME=PatientService
PATIENT_SERVICE_HOST=patient-services:3001

MEDICINE_PROTO_PATH=shared_proto/medicine/medicine.proto
MEDICINE_PACKAGE=medicinePackage
MEDICINE_SERVICE_NAME=MedicineService
MEDICINE_SERVICE_HOST=medicine-services:3002

PRESCRIPTION_PROTO_PATH=shared_proto/prescription/prescription.proto
PRESCRIPTION_PACKAGE=prescriptionPackage
PRESCRIPTION_SERVICE_NAME=PrescriptionService
PRESCRIPTION_SERVICE_HOST=medicine-services:3002