GATEWAY_PORT=3000

# gRPC Service Configuration
USER_PROTO_PATH=shared_proto/user/user.proto
USER_PACKAGE=user
USER_SERVICE_NAME=AuthService,UserService,InternalService,HealthService
USER_SERVICE_HOST=user-services:3001

DOCTOR_PROTO_PATH=shared_proto/doctor/doctor.proto
DOCTOR_PACKAGE=doctor
DOCTOR_SERVICE_NAME=DoctorService,HealthService,InternalService
DOCTOR_SERVICE_HOST=doctor-services:3002

PATIENT_PROTO_PATH=shared_proto/patient/patient.proto
PATIENT_PACKAGE=patientPackage 
PATIENT_SERVICE_NAME=PatientService
PATIENT_SERVICE_HOST=patient-services:3003

APPOINTMENT_PROTO_PATH=shared_proto/appointment/appointment.proto
APPOINTMENT_PACKAGE=appointment
APPOINTMENT_SERVICE_NAME=AppointmentService,HealthService
APPOINTMENT_SERVICE_HOST=appointment-services:3004

MEDICINE_PROTO_PATH=shared_proto/medicine/MedicineService.proto
MEDICINE_PACKAGE=medicinePackage
MEDICINE_SERVICE_NAME=MedicineService
MEDICINE_SERVICE_HOST=medicine-services:9090

PRESCRIPTION_PROTO_PATH=shared_proto/medicine/PrescriptionService.proto
PRESCRIPTION_PACKAGE=prescriptionPackage
PRESCRIPTION_SERVICE_NAME=PrescriptionService
PRESCRIPTION_SERVICE_HOST=medicine-services:9090

ANALYSIS_PROTO_PATH=shared_proto/analysis/analysis.proto
ANALYSIS_PACKAGE=analysis
ANALYSIS_SERVICE_NAME=AnalysisService
ANALYSIS_SERVICE_HOST=analysis-services:3005

NOTIFICATION_PROTO_PATH=shared_proto/notification/notification.proto
NOTIFICATION_PACKAGE=appointment
NOTIFICATION_SERVICE_NAME=AppointmentService
NOTIFICATION_SERVICE_HOST=notification-services:3006
