# Server Configuration
GRPC_PORT=3004
GRPC_HOST=0.0.0.0 
NODE_ENV=development

# Database Configuration
MONGODB_URI=mongodb://appointment-mongodb:27019/appointment-management
MONGODB_TEST_URI=mongodb://appointment-mongodb:27019/appointment-management-test

# Doctor Service 
DOCTOR_SERVICE_GRPC_URL=doctor-service:3002
DOCTOR_GRPC_HOST=doctor-service
DOCTOR_GRPC_PORT=3002


# Service Token for Internal APIs
SERVICE_TOKEN=service-secret-token-123

# Logging
LOG_LEVEL=info